{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-body">
        <div class="row " >
            <div class="form-holder">
              <img src="{{asset('img/logo.svg')}}" alt="" width="150">
                <div class="form-content">
                    <div class="form-items">
                        <h3 style="text-align:center;">Importer des données</h3>
                           <div class="col-md-12">
                                {{ form_start(form) }}
                                {{ form_row(form.xlsx) }}
                                {{ form_end(form) }}
                           </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="example-wrapper">
                {{ render_chart(chart, {'id': 'my-chart'})}}
            </div>  
        </div>
    </div>

  
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('js/import.js') }}"></script>
    {% endblock %}

{% endblock %}
